.carousel__inner-slide {
  width: calc(100% - 0.5rem) !important;
}
.client {
  height: 5rem;
  // width: 10rem;

  flex-grow: 1;
  width: 100%;
  &_related {
    max-width: 14.2rem;
    height: auto;
    & > div {
      height: auto !important;
    }
    // &:not(:last-child) {
    //   margin-right: 30px !important;
    // }
  }
  &:not(:last-child) {
    margin-right: 5px;
  }
  &__body {
    width: 100%;
    height: 150px;
    border-radius: 0px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    background-image: linear-gradient(to right, #1ca346, #6fba1a);
    padding: 5px 0;
    // width: 97.5%;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
  }
}

.featuredCategories {
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  &__image {
    height: 300px;
    width: 300px;
    border-radius: 50% !important;
    border: 3px solid #ec1c24;
    @include respond(1300px) {
      height: 250px;
      width: 250px;
    }
    @include respond(1200px) {
      height: 200px;
      width: 200px;
    }
    @include respond(1024px) {
      height: 250px;
      width: 250px;
    }
    @include respond(860px) {
      height: 200px;
      width: 200px;
    }
    @include respond(600px) {
      width: 100%;
    }
    &::after {
      z-index: 0 !important;
    }

    & > img {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    background-image: linear-gradient(#1ca346, #6fba1a);
    padding: 1rem 0.5rem;
    width: 200px;
    margin: auto;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: translateY(-2rem);
    z-index: 1;
    text-align: center;
    @include respond(520px) {
      // transform: translate(-0.7rem, -2rem);
      width: 160px;
      font-size: 12px !important;
    }
  }
  &:hover &__title {
    background-image: linear-gradient(#379253, #79b139);
  }
}
