.searchbox {
  max-width: 670px;
  max-height: 51px;
  margin: auto;
  @include respond(900px) {
    max-width: none;
  }
  &__btn {
    @include respond(600px) {
      font-size: 14px;
    }
  }
}

.sidebar-menu {
  padding: 2rem 2rem;
  & > div {
    margin-bottom: 1rem;
  }
  // &__accordion {
  //   margin-bottom: 2rem;
  // }
  &__category {
    background-image: linear-gradient(to right, #1ca346, #6fba1a);
    color: #fff !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    // height: 150px !important;
  }
  &__link {
    padding: 0 10px;
    &:not(:last-child) {
      border-bottom: 1px solid #efefef;
    }
  }
}
