.product {
  &__sticky {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 0;
    z-index: 10000;
    &--active {
      display: block;
      @include respond(900px) {
        display: none;
      }
    }
    &-btn {
      background-color: #eef0ed;
      border: 1px solid #90908f;
      color: #787878;
      font-family: inherit;
      font-weight: 600;
      outline: none;
      border: none;
      font-size: 16px;
      padding: 7px 20px;
      margin-left: 10px;
    }
    &-image {
      height: 80px;
      width: 80px;
      margin-right: 1rem;
    }
    @include respond(900px) {
      display: none;
    }
  }
  &__intro {
    padding: 0 !important;
    @include respond(768px) {
      margin-bottom: 5rem;
    }
    @include respond(468px) {
      margin-bottom: 4rem;
    }
    &-main {
      flex-grow: 1;
    }
  }
  &__hero {
    &-btn {
      background-image: linear-gradient(to right, #1ca346, #6fba1a);
      color: #fff;
      font-size: 20px;
      border: 0;
      border-radius: 10px;
      padding: 10px 20px;
      outline: 1px solid #1ca346;
      outline-offset: 5px;
      @include respond(1150px) {
        margin-top: 1rem;
        padding: 5px 10px;
      }
    }
    &-image {
      width: 546px;
      height: 546px;
      @include respond(1240px) {
        width: 90%;
        height: 90%;
      }
      @include respond(600px) {
        width: 343px;
        height: 343px;
      }
    }
    &-slider {
      max-height: 546px;
      max-width: 17%;
      overflow-y: auto;
      overflow-x: hidden;
      // width: 125%;
      @include respond(1500px) {
        max-width: 20%;
      }
      @include respond(1370px) {
        max-width: 25%;
      }
      @include respond(1240px) {
        max-width: 30%;
      }
      @include respond(767px) {
        max-width: 100%;
      }
    }
  }
  &__share-btn {
    margin-top: 1rem;
    font-size: 20px;
    position: absolute;
    bottom: 200px;
    left: 0px;
    @include respond(767px) {
      padding-left: 20px !important;
      padding-right: 20px !important;
      border-radius: 20px !important;
    }
  }
  &_quote-btn {
    width: 225px !important;
    margin: auto;
    background-color: #f20a0a !important;
  }
  &__contact {
    &-logo {
      display: flex;
      justify-content: center;
      margin-bottom: 1.75rem;
    }
    &-icon {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(28, 163, 70, 13%);
      & svg {
        height: 1.2rem !important;
        width: 1.2rem !important;
        color: transparent;
      }
      & > div > div {
        justify-content: center;
        align-items: center;
      }
    }
    &-icon-location {
      & svg {
        color: #1ca346;
      }
    }
  }
  &__keypoints {
    &-image {
      position: relative;
      & > img {
        position: relative;
        z-index: 1;
      }
      &::before {
        content: '';
        position: absolute;
        left: -10px;
        top: -10px;
        display: block;
        height: 60%;
        width: 80%;
        border: 2px solid #44ae31;
      }
      &::after {
        content: '';
        position: absolute;
        right: -10px;
        bottom: -10px;
        display: block;
        height: 60%;
        width: 80%;
        border: 2px solid #44ae31;
      }
    }
    &-content {
      font-family: 'Titillium Web', sans-serif !important;
    }
  }
  &__features {
    & ol,
    & ul {
      list-style-type: none;
    }
    & li {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      &:before {
        content: '';
        background-image: url('../../public/assets/images/icons/Group 10498.svg');
        background-repeat: no-repeat;
        height: 32px;
        width: 32px;
        padding: 0 0.5rem;
      }
    }
  }
  &__specification {
    table {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    table tr {
      &:not(:last-child) {
        border-bottom: 1px solid #efefef;
      }
    }
    table td,
    table th {
      padding: 8px 2px;
    }
    table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04aa6d;
      color: white;
    }
  }
}
