.review {
  position: static !important;
  &__rating {
    margin: 1rem 0 !important;
    display: flex;
    justify-content: center;
  }
  &__arrow-btn {
    position: absolute;
    top: 25px !important;
    &--left {
      right: 80px;
    }
    &--right {
      right: 20px;
    }
  }
  &__carousel-dot {
    position: relative;
    height: 6px;
    width: 50px;
    border-radius: 5px;
    margin: 0.25rem;
    cursor: pointer;
    background: #ccc;
    &__wrapper {
      justify-content: center !important;
      margin-left: 0 !important;
    }
    &--active {
      background: linear-gradient(#1ca346, #6fba1a);
    }
  }
}
