@import './mixins';
@import './layout';
@import './home';
@import './utils';
@import './review';
@import './product';

html {
  font-size: 62.5% !important;
  @include respond(110em) {
    // 1745
    zoom: 0.85;
  }
  @include respond(107em) {
    // 1534
    zoom: 0.78;
  }
  @include respond(87.5em) {
    // 1400
    zoom: 1;
  }
  @include respond(72em) {
    // 1152
    zoom: 0.9;
  }
  @include respond(65em) {
    // 1040
    zoom: 0.8;
  }
  @include respond(56.25em) {
    // 900
    zoom: 1;
  }
  @include respond(25em) {
    // 400
    zoom: 0.8;
  }
}
